<!-- This file is the HTML wrapper for the pages. Links will go here as this has the <head> section -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Reviews</title>
    <!-- script and style links go here -->
    <!-- if used jQuery and Bootstrap and etc must be listed first --->
    <script src="../../public/assets/js/client_js.js"></script> <!-- custom client-side scripts -->
    <link rel="stylesheet" type="text/css" href="../../public/assets/css/custom_style.css"> <!-- custom styling -->
</head>
<body>
    {{{body}}} <!-- index.handlebars goes here -->
</body>
</html>