<!-- this will contain the content of the <body> of the main page, such as the place where the forms and coffee review panels will go -->

<!-- if we want, we can further split out the review panes into their own template via Partials: https://handlebarsjs.com/guide/partials.html -->

<header class="header"> <!-- header area -->
    <h1>
        <span>{coffee icon}</span> Coffee Rater
    </h1>
</header>
<div class="container-fluid">
    <div class="row">
        <main class="col-9"><!-- main content area -->
            <p>To see individual reviews, click to expand on a coffee.</p>
            <ul class="list-group">
                {{#each coffee}}
                    {{> coffee/coffee_card}}
                        <a data-toggle="collapse" href="#collapseReviews" class="reviewsCollapserLink"> V click to expand for reviews</a>
                <div id="collapseReviews" class="collapse">
                    <div class="container-fluid">
                    <div class="row list-group">
                        <div clas="col-12">
                            <ul >
                                {{#each review}}
                                    {{> coffee/review_card}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    
                    <div class="row"> <!-- add a review for this coffee -->
                        <form class="col-12">
                            <h5>Review this coffee:</h5>
                            <div class="form-group">
                                <label for="reviewInputUserName">Your name:</label>
                                <input type="text" name ="user_name" id="reviewInputUserName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="reviewInputTextbox">Your review:</label>
                                <textarea id="reviewInputTextbox" name="review_text" class="form-control"></textarea>
                            </div>        
                            <button type="submit" class="btn btn-custom">Submit Review</button>
                        </form>
                    </div>
                    </div>
                </div>
                {{/each}}    

                    
            </ul>
        </main>

        <!-- side bar -->
        <aside class="col-3" id="newCoffeePanel">
            <h5>Add a coffee</h5>
            <hr>
            <form id="addCoffeeForm"> <!-- form for submitting a coffee for review -->
                <div class="form-group">
                    <label for="formBlendInput">Name of Blend:</label>
                    <input type="text" name="blend" id="formBlendInput" class="form-control">
                </div>
                <div class="form-group">
                    <label for="formBrandInput">Brand:</label>
                    <input type="text" name="brand" id="formBrandInput" class="form-control">
                </div>
                <div class="form-group">
                    <label for="formDescriptionInput">Description:</label>
                    <textarea name="coffee-description" id="formDescriptionInput" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="formPriceInput">Price:</label>
                    <input type="number" min="0" name="price" id="formPriceInput" class="form-control">
                    <label for="formGramsInput">Grams:</label>
                    <input type="number" min="0" name="grams" id="formGramsInput" class="form-control">
                </div>
                <button type="submit" class="btn btn-custom" id="coffeeSubmitBtn">Submit Coffee</button>
            </form>
        </aside>