<!-- this will contain the content of the <body> of the main page, such as the place where the forms and coffee review panels will go -->

<!-- if we want, we can further split out the review panes into their own template via Partials: https://handlebarsjs.com/guide/partials.html -->

<header> <!-- header area -->
    <h1>
        Coffee Reviews
    </h1>
    <p>Welcome to Coffee Reviews! Here you can read and submit reviews for various kinds of coffee.</p>
</header>

<main> <!-- main content area -->
    <p>To see individual reviews, click to expand on a coffee.</p>
    <ul>
        <li>
            <!-- Coffee panels go here. Probably will be cards in end product. -->
            <h4><em>{Blend Name}</em> by <em>{Brand Name}</em></h4>
            <table>
                <tr>
                    <td>
                        $ {Price/grams} /gram
                    </td>
                    <td><strong>{average rating}</strong> /5 </td>
                </tr>
                <tr>
                    <td> {image} </td>
                    <td>{description}</td>
                </tr>
            </table>
            <p>Click something here to expand to view reviews</p>
            <table>
                <tr>
                    <td> <!-- a review panel. likewise, probably more like a card than a table-->
                        <tr>
                            <td>{user name}</td>
                            <td> {review rating}</td>
                        </tr>
                        <tr>
                            <td colspan="2">{review text}</td>
                        </tr>
                    </td>
                </tr>
            </table>
        </li>
    </ul>
</main>