<!-- this will contain the content of the <body> of the main page, such as the place where the forms and coffee review panels will go -->

<!-- if we want, we can further split out the review panes into their own template via Partials: https://handlebarsjs.com/guide/partials.html -->

<header> <!-- header area -->
    <h1>
        <span>{coffee icon}</span> Coffee Rater
    </h1>
</header>

<main> <!-- main content area -->
    <p>To see individual reviews, click to expand on a coffee.</p>
    <ul>
        {#each coffee}
            {> coffee_card partial}
        {/each}
    </ul>
</main>
<!-- side bar -->
<aside>
    <h5>Add a coffee</h5>
    <form> <!-- form for submitting a coffee for review -->
    <label>Name of Blend:</label>
    <input type="text" name="blend">
    
    <label>Brand:</label>
    <input type="text" name="brand">
    
    <label>Description:</label>
    <input type="text" name="coffee-description">
    
    <label>Price:</label>
    <input type="text" name="price">
    <label>Grams:</label>
    <input type="text" name="grams">
    </form>
</aside>