<li>
    <!-- Coffee panels go here -->
        <div class="card coffeeCard">
            <div class="card-body">
                <div class="row">
                    <div class="col-3"> <!-- image pane --> 
                        {image}
                    </div>
                    <div class="col-6"> <!-- main coffee content pane -->
                        <h4><strong>{Blend Name}</strong> <em>by</em> <strong>{Brand Name}</strong></h4>
                        <p>{description}</p>
                    </div>
                    <div class="col-3"> <!-- details pane -->
                        <div class="row"> <!-- rating -->
                            <p><h4>{average rating}</h4> /5 </p>
                        </div>
                        <div class="row"> <!-- price -->
                            <p><strong>${price}</strong> <em>{grams} g</em> </p>
                        </div>
                    </div>
                </div>

                <!-- expand section for relevant reviews -->
                <a data-toggle="collapse" href="#collapseReviews" class="reviewsCollapserLink"> V click to expand for reviews</a>
                <div id="collapseReviews" class="collapse">
                    <div class="row">
                        <div clas="col-12">
                            <ul class="list-group">
                                {{#each review}}
                                    {{> coffee/review_card}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    
                    <div class="row"> <!-- add a review for this coffee -->
                        <form class="col-12">
                            <h5>Review this coffee:</h5>
                            <div class="form-group">
                                <label for="reviewInputUserName">Your name:</label>
                                <input type="text" name ="user_name" id="reviewInputUserName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="reviewInputTextbox">Your review:</label>
                                <textarea id="reviewInputTextbox" name="review_text" class="form-control"></textarea>
                            </div>        
                            <button type="submit" class="btn btn-custom">Submit Review</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</li>