<li>
    <!-- review panels go here -->
    <div class="card reviewCard">
        <div class="card-body">
            <div class="row">
                <div class="col-3"> <!-- user pane --> 
                    <strong>{{userName}}</strong>
                </div>
                <div class="col-6"> <!-- main review content pane -->
                    <p>{{reviewBody}}</p>
                </div>
                <div class="col-3"> <!-- details pane -->
                    <p><strong>{{rating}}</strong> /5 </p>
                </div>
            </div>
        </div>
    </div>
</li>