<li>
    <!-- review panels go here -->
    <div class="card reviewCard">
        <div class="card-body">
            <div class="row">
                <div class="col-3"> <!-- user pane --> 
                    <strong>{{dataValues.User.dataValues.user_name}}</strong>
                </div>
                <div class="col-6"> <!-- main review content pane -->
                    <p>{{dataValues.review_text}}</p>
                </div>
                <div class="col-3"> <!-- details pane -->
                    <p><strong>{{dataValues.rating}}</strong> /5 </p>
                </div>
            </div>
        </div>
    </div>   
</li>